# <center>        **Introduction to Data Science (S2-22_DSECLZG532)-ASSIGNMENT**</center>

## Group No

## Group Member Names:
1. Divya Jyoti Das
2. Sweta Das
3. Soumya Charan Das
4.

# 1. Business Understanding

Students are expected to identify an analytical problem of your choice. You have to detail the Business Understanding part of your problem under this heading which basically addresses the following questions.

   1. What is the business problem that you are trying to solve?
   2. What data do you need to answer the above problem?
   3. What are the different sources of data?
   4. What kind of analytics task are you performing?

Score: 1 Mark in total (0.25 mark each)

--------------Type the answers below this line--------------

# 2. Data Acquisition

For the problem identified , find an appropriate data set (Your data set must
be unique with minimum **20 features and 10k rows**) from any public data source.

---



## 2.1 Download the data directly

In [14]:
##---------Type the code below this line------------------##
import requests
import io
import pandas as pd
# data url = https://raw.githubusercontent.com/somudas93/synthetic-data/main/credit_card_transactions_2.csv
url = "https://raw.githubusercontent.com/somudas93/synthetic-data/main/credit_card_transactions_2.csv"
s = requests.get(url).content

## 2.2 Code for converting the above downloaded data into a dataframe

In [15]:
##---------Type the code below this line------------------##
df = pd.read_csv(io.StringIO(s.decode('utf-8')))

## 2.3 Confirm the data has been correctly by displaying the first 5 and last 5 records.

In [18]:
##---------Type the code below this line------------------##
print(df.head())
print(df.tail())

                   timestamp     amount        merchant       card_number  \
0  2023-07-07 16:20:46+05:30  418586.24      Kala-Dubey  4798283108635285
1  2023-03-15 07:30:24+05:30  297349.60     Ramesh-Raja  4178121696104373
2  2023-03-13 23:39:09+05:30  154621.18        Saha Inc  4155153282362328
3  2023-08-15 21:24:35+05:30  127482.98      Shah-Dutta  4535828500531769
4  2023-05-30 22:37:05+05:30  293875.37  Matthews Group  4293117735049421

         card_holder transaction_type        category  \
0      Bhamini Amble         transfer  transportation
1        Arnav Saraf           refund            food
2           Jiya Raj         transfer            food
3    Elakshi Trivedi         purchase  transportation
4  Timothy Rodriguez       withdrawal  transportation

                                          location          country currency  \
0                   036\nRay Path\nPhagwara-818840  Phagwara-818840      EUR
1                  57/70, Krish Road, Satna 118526           118526      GBP
2                  19, Banerjee Zila\nDewas 653466           653466      EUR
3             22/419\nRavel Marg, Amaravati 572447           572447      JPY
4  849 Gomez Tunnel Apt. 759\nWest Shane, NC 94532            94532      JPY

   ...   latitude   longitude  is_flagged                  partner  \
0  ... -46.300192  -80.021970        True  Dugar, Iyengar and Goel
1  ...  89.578963 -161.144535        True              Rastogi LLC
2  ... -67.931223   71.298217       False                 Mane LLC
3  ... -46.090380    2.334490       False                Lall-Kale
4  ... -68.170575 -126.420756        True                Bruce Inc

   partner_type                        transaction_id approval_code  \
0        vendor  2c44f5cd-902e-4507-b406-605599f5eabe          7829
1      merchant  a00f49cf-c838-476d-9c8c-eb297184a2d9        976533
2  unidentified  54967e88-0da6-4036-8b3e-e51e2eadd023        853016
3      merchant  7830f1d7-7d7e-47a3-948b-d05344916e29         85840
4          bank  9b69c1e5-fb97-4e32-bebd-ee6271be681e        521601

  terminal_id  customer_segment  needs_investigation
0    12426471            silver                  NaN
1    84952338            silver                  NaN
2    59371152            bronze                  NaN
3    43840072            silver                  NaN
4    84976215            bronze                  NaN

[5 rows x 22 columns]
                       timestamp     amount                      merchant  \
14995  2023-12-05 02:36:32+05:30  275360.48                    Gaba-Chand
14996  2023-06-18 15:33:51+05:30  360205.29           Contractor and Sons
14997  2023-06-08 00:04:39+05:30  329922.51  Wali, Bhagat and Viswanathan
14998  2023-05-27 08:57:14+05:30    2759.85        Lewis, Smith and Jones
14999  2023-05-31 01:40:55+05:30  112806.59                     Lal-Shere

            card_number    card_holder transaction_type        category  \
14995  4643557007980539  Hansh Kashyap           refund        clothing
14996  4244278430015974  Ranbir Butala       withdrawal  transportation
14997  4479708101102178     Shalv Rama         purchase  transportation
14998  4538187145159537      Joel Rush         purchase        clothing
14999  4991233131379935     Hazel Dyal           refund  transportation

                                         location               country  \
14995         62/23, Sachdev Ganj, Raichur 310680                310680
14996         99\nChandra Ganj\nMaheshtala-244415     Maheshtala-244415
14997  H.No. 411, Bora Zila, Vijayanagaram-529003  Vijayanagaram-529003
14998     47735 Charles Run\nEast Brian, HI 58555                 58555
14999  H.No. 31, Tandon Nagar, Tirunelveli-693104    Tirunelveli-693104

      currency  ...   latitude   longitude  is_flagged  \
14995      GBP  ...  -2.539665 -117.754493        True
14996      GBP  ...  -0.316852   55.820477        True
14997      EUR  ... -21.932375 -159.897692        True
14998      EUR  ... -22.874042   11.727775       False
14999      USD  ...  17.852881 -166.071162       False

                          partner  partner_type  \
14995                  Rau-Badami          bank
14996                  Lala Group      merchant
14997                    Iyer Ltd        vendor
14998                  Martin PLC          bank
14999  Rout, Kothari and Bhandari    individual

                             transaction_id approval_code terminal_id  \
14995  77af426a-f4de-47ef-a122-31920f946c78        443165    98350790
14996  77da94c6-2ab5-460a-b75a-b602a821e9cb        657957    86997748
14997  2e8a9ba0-71b4-4d9c-8010-99526b515f1b        692733    89592294
14998  038a34b5-8473-4df3-a098-4457a0afd488        154851    20324409
14999  953f5fe4-f9ca-4bb3-a63f-1490b6806248        880204    61562657

       customer_segment  needs_investigation
14995              gold                  NaN
14996            bronze                  NaN
14997            silver                  NaN
14998           premium                  NaN
14999              gold                  NaN

[5 rows x 22 columns]

## 2.4 Display the column headings, statistical information, description and statistical summary of the data.

In [25]:
##---------Type the code below this line------------------##
print("\nDescriptive statistics of the data set:\n")
print(df.describe())
for col in df.columns:
    stats = df[col].describe()
    print(stats)
    print("====================================")
df.info()

Descriptive statistics of the data set:

              amount   card_number      latitude     longitude  approval_code  \
count   15000.000000  1.500000e+04  15000.000000  15000.000000   15000.000000
mean   249132.059694  4.497537e+15     -0.158354      0.196128  502296.311933
std    143938.158490  2.894067e+14     52.034348    104.374164  287795.300425
min        76.680000  4.000024e+15    -89.986401   -179.985050       3.000000
25%    126432.937500  4.248729e+15    -45.532677    -90.715122  252318.250000
50%    248293.190000  4.493855e+15     -0.556145      0.959079  502901.000000
75%    372608.432500  4.747369e+15     45.182273     91.490541  752055.250000
max    499932.940000  4.999811e+15     89.985742    179.955045  999956.000000

        terminal_id
count  1.500000e+04
mean   5.011606e+07
std    2.887426e+07
min    5.894000e+03
25%    2.518517e+07
50%    4.998811e+07
75%    7.527067e+07
max    9.999996e+07
count                         15000
unique                        14998
top       2023-05-04 16:11:40+05:30
freq                              2
Name: timestamp, dtype: object
====================================
count     15000.000000
mean     249132.059694
std      143938.158490
min          76.680000
25%      126432.937500
50%      248293.190000
75%      372608.432500
max      499932.940000
Name: amount, dtype: float64
====================================
count        15000
unique       12884
top       Kala Inc
freq             8
Name: merchant, dtype: object
====================================
count    1.500000e+04
mean     4.497537e+15
std      2.894067e+14
min      4.000024e+15
25%      4.248729e+15
50%      4.493855e+15
75%      4.747369e+15
max      4.999811e+15
Name: card_number, dtype: float64
====================================
count             15000
unique            14190
top       Alisha Kalita
freq                  4
Name: card_holder, dtype: object
====================================
count        15000
unique           4
top       purchase
freq          3814
Name: transaction_type, dtype: object
====================================
count     15000
unique        5
top        food
freq       3101
Name: category, dtype: object
====================================
count                              15000
unique                             15000
top       036\nRay Path\nPhagwara-818840
freq                                   1
Name: location, dtype: object
====================================
count     15000
unique    14932
top       61621
freq          3
Name: country, dtype: object
====================================
count     15000
unique        4
top         GBP
freq       3817
Name: currency, dtype: object
====================================
count                                                 15000
unique                                                12360
top       Mozilla/5.0 (compatible; MSIE 6.0; Windows NT ...
freq                                                     16
Name: device, dtype: object
====================================
count              15000
unique             15000
top       204.147.189.58
freq                   1
Name: ip_address, dtype: object
====================================
count    15000.000000
mean        -0.158354
std         52.034348
min        -89.986401
25%        -45.532677
50%         -0.556145
75%         45.182273
max         89.985742
Name: latitude, dtype: float64
====================================
count    15000.000000
mean         0.196128
std        104.374164
min       -179.985050
25%        -90.715122
50%          0.959079
75%         91.490541
max        179.955045
Name: longitude, dtype: float64
====================================
count     15000
unique        2
top       False
freq       8312
Name: is_flagged, dtype: object
====================================
count        15000
unique       12752
top       Dhar Inc
freq            11
Name: partner, dtype: object
====================================
count     15000
unique        5
top        bank
freq       3034
Name: partner_type, dtype: object
====================================
count                                    15000
unique                                   15000
top       2c44f5cd-902e-4507-b406-605599f5eabe
freq                                         1
Name: transaction_id, dtype: object
====================================
count     15000.000000
mean     502296.311933
std      287795.300425
min           3.000000
25%      252318.250000
50%      502901.000000
75%      752055.250000
max      999956.000000
Name: approval_code, dtype: float64
====================================
count    1.500000e+04
mean     5.011606e+07
std      2.887426e+07
min      5.894000e+03
25%      2.518517e+07
50%      4.998811e+07
75%      7.527067e+07
max      9.999996e+07
Name: terminal_id, dtype: float64
====================================
count     15000
unique        4
top        gold
freq       3954
Name: customer_segment, dtype: object
====================================
count     4158
unique       2
top          N
freq      2664
Name: needs_investigation, dtype: object
====================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   timestamp            15000 non-null  object
 1   amount               15000 non-null  float64
 2   merchant             15000 non-null  object
 3   card_number          15000 non-null  int64
 4   card_holder          15000 non-null  object
 5   transaction_type     15000 non-null  object
 6   category             15000 non-null  object
 7   location             15000 non-null  object
 8   country              15000 non-null  object
 9   currency             15000 non-null  object
 10  device               15000 non-null  object
 11  ip_address           15000 non-null  object
 12  latitude             15000 non-null  float64
 13  longitude            15000 non-null  float64
 14  is_flagged           15000 non-null  bool
 15  partner              15000 non-null  object
 16  partner_type         15000 non-null  object
 17  transaction_id       15000 non-null  object
 18  approval_code        15000 non-null  int64
 19  terminal_id          15000 non-null  int64
 20  customer_segment     15000 non-null  object
 21  needs_investigation  4158 non-null   object
dtypes: bool(1), float64(3), int64(3), object(15)
memory usage: 2.4+ MB

## 2.5 Write your observations from the above.
1. Size of the dataset
2. What type of data attributes are there?
3. Is there any null data that has to be cleaned?

Score: 2 Marks in total (0.25 marks for 2.1, 0.25 marks for 2.2, 0.5 marks for 2.3, 0.25 marks for 2.4, 0.75 marks for 2.5)

--------------Type the answers below this line--------------
Size of Dataset = 15000
Types of Attributes: bool(1), float64(3), int64(3), object(15) where, strings are mostly referred as objects here

# 3. Data Preparation

If input data is numerical or categorical, do 3.1, 3.2 and 3.4
If input data is text, do 3.3 and 3.4

## 3.1 Check for

* duplicate data
* missing data
* data inconsistencies

In [ ]:
##---------Type the code below this line------------------##

## 3.2 Apply techiniques
* to remove duplicate data
* to impute or remove missing data
* to remove data inconsistencies

In [ ]:
##---------Type the code below this line------------------##

## 3.3 Encode categorical data

In [ ]:
##---------Type the code below this line------------------##

In [ ]:
##---------Type the code below this line------------------##

## 3.4 Report

Mention and justify the method adopted
* to remove duplicate data, if present
* to impute or remove missing data, if present
* to remove data inconsistencies, if present

OR for textdata
* How many tokens after step 3?
* how may tokens after stop words filtering?

If the any of the above are not present, then also add in the report below.

Score: 2 Marks (based on the dataset you have, the data prepreation you had to do and report typed, marks will be distributed between 3.1, 3.2, 3.3 and 3.4)

In [ ]:
##---------Type the code below this line------------------##

In [ ]:
##---------Type the code below this line------------------##

## 3.5 Identify the target variables.

* Separate the data from the target such that the dataset is in the form of (X,y) or (Features, Label)

* Discretize / Encode the target variable or perform one-hot encoding on the target or any other as and if required.

* Report the observations

Score: 1 Mark

In [ ]:
##---------Type the code below this line------------------##

# 4. Data Exploration using various plots

## 4.1 Scatter plot of each quantitative attribute with the target.

Score: 1 Mark

In [ ]:
##---------Type the code below this line------------------##

## 4.2 EDA using visuals
* Use (minimum) 2 plots (pair plot, heat map, correlation plot, regression plot...) to identify the optimal set of attributes that can be used for classification.
* Name them, explain why you think they can be helpful in the task and perform the plot as well. Unless proper justification for the choice of plots given, no credit will be awarded.

Score: 2 Marks

In [ ]:
##---------Type the code below this line------------------##

# 5. Data Wrangling

## 5.1 Univariate Filters

#### Numerical and Categorical Data
* Identify top 5 significant features by evaluating each feature independently with respect to the target/other variable by exploring
1. Mutual Information (Information Gain)
2. Gini index
3. Gain Ratio
4. Chi-Squared test
5. Strenth of Association

(From the above 5 you are required to use only any <b>two</b>)



Score: 3 Marks

In [ ]:
##---------Type the code below this line------------------##

## 5.2 Report observations

Write your observations from the results of each method. Clearly justify your choice of the method.

Score 1 mark

In [ ]:
##---------Type the code below this line------------------##

# 6. Implement Machine Learning Techniques

Use any 2 ML tasks
1. Classification  

2. Clustering  

3. Association Analysis

4. Anomaly detection

You may use algorithms included in the course, e.g. Decision Tree, K-means etc. or an algorithm you learnt on your own with a brief explanation.
A clear justification have to be given for why a certain algorithm was chosen to address your problem.

Score: 4 Marks (2 marks each for each algorithm)

## 6.1 ML technique 1 + Justification

In [ ]:
##---------Type the code below this line------------------##

## 6.2 ML technique 2 + Justification

In [ ]:
##---------Type the code below this line------------------##

## 7. Conclusion

Compare the performance of the ML techniques used.

Derive values for preformance study metrics like accuracy, precision, recall, F1 Score, AUC-ROC etc to compare the ML algos and plot them. A proper comparision based on different metrics should be done and not just accuracy alone, only then the comparision becomes authentic. You may use Confusion matrix, classification report, Word cloud etc as per the requirement of your application/problem.

Score 1 Mark

In [ ]:
##---------Type the code below this line------------------##

## 8. Solution

What is the solution that is proposed to solve the business problem discussed in Section 1. Also share your learnings while working through solving the problem in terms of challenges, observations, decisions made etc.

Score 2 Marks

--------------Type the answers below this line--------------

##---------Type the answer below this line------------------##

##NOTE
All Late Submissions will incur a penalty of -2 marks. Do ensure on time submission to avoid penalty.

Good Luck!!!